.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.formInput{
  border:1px solid gray;
  border-radius: 16px;
  padding: 15px;
}

.formBtn{
  padding: 16px;
  background-color:#282c34;
  border-radius: 16px;
  border:none;
  color:white;
  font-size: 18px;
}

.homeBtn{
  padding: 10px;
  background-color:#282c34;
  border-radius: 16px;
  border:none;
  color:white;
  font-size: 18px;
  width:20%;
}

.processedCheckout{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:4vh;
}
